<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60000">

	<appender name="ROOT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./logs/root.log</File>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5p] [%t] %c{1}:%L - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				./logs/root.%d{yyyyMMdd}.%i.zip
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5p] [%t] %c{1}:%L - %m%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="ROOT" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>